body {
    font-family: Arial, sans-serif;                 /* Font-family of the text of body information in html  */
    color: #000000;                               /* Color of body in html  */      
    margin: 0;                                      /* Margin of body information in html  */                
    padding: 0;                                      /* Padding of body information in html  */   
}

header {
    background-color: #17072b;                  /* Background-color of the text of header information in html  */
    color: #ffffff;                             /* Color of the text of header information in html  */
    padding: 20px;                                  /* Padding of the text of header information in html  */
    text-align: center;                             /* Alignment of the text of header information in html  */
    font-family: Tahoma, sans-serif;                /* Font-family of the text of header information in html  */
    font-weight: 700;                               /* Font-weight of the text of header information in html  */
    font-size: 200%;                                /* Font-size of the text of header information in html  */
}

.contents {
    display: flex;                              /* Display of the text of .contents information in html  */
    flex-direction: row;                        /* Flex-direction of the text of .contents information in html  */
}

.welcome {
    flex: 7; /* 70% of the space */             /* Flex of .welcome information in html  */
    margin-right: 20px;                         /* Margin-right of .welcome information in html  */
    font-size: 20px;                            /* Flex of .welcome information in html  */
}

.sidebar {
    flex: 3; /* 30% of the space */             /* Flex of .sidebar information in html  */
    background-color: #172d67;                  /* Background-color of .sidebar information in html  */
    color: #ffffff;                             /* Color of .sidebar information in html  */
    padding: 25px;                              /* Padding of .sidebar information in html  */
    margin-top: 10px;                           /* Margin-top of .sidebar information in html  */
    font-size: 200%;                            /* Font-size of .sidebar information in html  */

}
nav ul {
    list-style: none;                           /* List-style of .nav ul information in html  */
    padding: 0;                                 /* Padding  of .nav ul information in html  */
    text-align: center;                         /* Text-align  of the text of .nav ul information in html  */
    font-size: 150%;                            /* Font-size  of the text of .nav ul information in html  */
    font-family: 'Times New Roman';             /* Font-family  of the text of .nav ul information in html  */
}

nav ul li {
    display: inline;                            /* Display  of .nav ul li information in html  */
    margin: 0 15px;                             /* Margin  of .nav ul li information in html  */
    
}

nav ul li a {
    color: #ffffff;                             /* Color  of .nav ul li a information in html  */
    text-decoration: none;                      /* Text-decoration  of .nav ul li a information in html  */
    font-weight: bold;                          /* Font-weight  of .nav ul li a information in html  */
}

h2 {
    font-family:'Arial';                        /* Font-family of the text of h2 information in html  */
    font-size: 225%;                             /* Font-size of the text of h2 information in html  */

}

p {
    font-family:'Sans-Serif';                    /* Font-family of the text of p information in html  */
    font-size: 230%;                             /* Font-size of the text of h2 information in html  */
}

img {
    width: 35%;                                  /* Width of image information in html  */
    height: 50%;                                     /* Height  of image information in html  */
}


main {
    padding: 20px;                                   /* Padding of main in html  */
    

}

#welcome, #lineup, #studyplan {                      
    margin-bottom: 40px;                            /* Margin-bottom of the text of #welcome, #lineup, #studyplan information in html  */
   

}

.images img {                                        
    width: 170%;                                    /* Width of the text of .images img information in html  */
    height: 200%;                                   /* Height of the text of .images img information in html  */
    margin: 5px;                                    /* Margin of the text of .images img information in html  */
}

.study-grid {   
    display: grid;                                  /* Display of .study-grid information in html  */
    grid-template-columns: repeat(2, 1fr);              /* Grid-template-columns of .study-grid information in html  */
    gap: 10px;                                          /* Gap of.study-grid information in html  */
    padding: 10px;                                  /* Padding of .study-grid information in html  */
}

button {                            
    background-color: #8c15e9;                      /* Background-color of button information in html  */
    color: #ffffff;                                     /* Color of button information in html  */
    padding: 10px 20px;                                     /* Padding of button information in html  */
    border: none;                                       /* Border of button information in html  */
    cursor: pointer;                                /* Cursor of button information in html  */
    font-weight: bold;                          /* Font-weight of button information in html  */
}

footer {
    background-color: #8c15e9;              /* Background-color of footer information in html  */
    color: #ffffff;                             /* Color of footer information in html  */
    text-align: center;                            /* Text-align of footer information in html  */             
    padding: 15px;                                /* Padding of footer information in html  */          
}

