div {
    display: inline-block;                              /* Display size of the div in html  */
    font-family: sans-serif;                            /* Font-family of the div in html  */
    font-size: 20px;                                    /* Font-size of the div in html  */
    margin: 25px;                                       /* Margin of the div in html  */
    border: 4px solid black;                          /* Border of the div in html  */
    line-height: 100px;                                 /* Line-height of the div in html  */
    text-align: center;                                /* Text-align of the div in html  */
    width: 200px;                                      /* Width of the div in html  */
    height: 200px;                                      /* Height of the div in html  */    
  }
  
body {
    margin: 100px auto;                                 /* Margin of body in html  */
    width: max-content;                                 /* Width of body in html  */
}

.A{
    border: 5px solid hsl(274, 64%, 58%);               /* Border size of the image A in html  */
    box-shadow: 10px 10px 20px hsl(360, 98%, 54%);      /* Box-shadow of the image A in html  */
}

#B{
    border: 5px solid hsl(120, 81%, 59%);                   /* Border size of the image B in html  */
    box-shadow: inset 10px 10px 20px hsl(320, 6%, 10%);     /* Box-shadow of the image B in html  */
}

#C{
    border-radius: 20px;                                        /* Border radius of the image C in html  */
    border: 5px solid hsl(34, 96%, 60%);                    /* Border size of the image C in html  */
    box-shadow:                                             /* Box-shadow size of the image C in html  */
        0 0 0 10px hsl(240, 100%, 49%),                      /* Its attributes  */
        0 0 0 20px hsl(1, 100%, 49%),
        0 0 0 30px hsl(120, 100%, 25%);
}

#D{
    border: 5px solid hsl(358, 69%, 42%);                   /* Border size of the image D in html  */
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.7);            /* Border size of the text in image D in html  */
} 